.pokecards-containter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 3rem;
}

.loading {
    height: 100%;
    filter: blur(10px);
    animation: loading 3s infinite;
}

#loading-icon {
    display: none;
}

.loading:defined ~ #loading-icon {
    display: block;
    font-size: 3rem;
    color: var(--primary-color); 

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes loading {
    0% {
        background-color: rgba(225, 255, 255, 1);
    }
    50% {
        background-color: rgba(0, 0, 0, 0.3);
    }
    100% {
        background-color: rgba(255, 255, 255, 1);
    }
}

.pokecard {
    width: 100%;
    max-width: 350px;
    outline: solid 1px #1b1b1b;
    border-radius: 10px;
    padding: 0.5rem;

    &:hover{
        -webkit-box-shadow: 10px 10px 30px -18px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 30px -18px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 30px -18px rgba(0,0,0,0.75);
        transition: 0.2s;
    }
    &:not(:hover){
        transition: 0.2s;
    }
}


.p-name {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
}

.p-img {
    width: 100%;
    height: auto;
}

.p-type-list{
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    margin-bottom: 0.5rem;
}

#idtipo{
    border-radius: 100vmax;
    padding: 0rem 1rem 0.25rem 1rem;
}


.p-ability{
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.p-ability-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .pokecards-containter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width:767px) {
    .pokecards-containter {
        grid-template-columns: 1fr;
    }
}